#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

#startScreen {
  display: flex;
  vertical-align: top;
}

.invisMap {
  visibility: hidden;
}
